body {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #34495e;
}

.js-title {
  color: white;
  font-size: 120px;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

.js-clock {
}

.js-greetings {
  color: white;
  font-size: 50px;
  margin: 0px;
}

.js-toDoList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  width: 150px;
  padding: 30px 35px;
  border-radius: 10px;
  position: absolute;
  top: 60vh;
  right: 80px;
}

.js-weather {
  color: white;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 30px 35px;
  border-radius: 10px;
  width: 150px;
  position: absolute;
  top: 50px;
  right: 80px;
}
